@media screen and (min-width: 801px) {
  .name {
    font-size: 60px;
  }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .name {
    font-size: 30px;
  }
}

@media screen and (max-width:500px) {
  .name{
    font-size: 20px;
  }
}